*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

}
.menu{
    display: flex;
    list-style: none;


}

.menu li{
    margin-left: 10px;
}
.menu li a{
    text-decoration: none;
    color: blue;
}
section.banner{
    background-color: darkslateblue;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.banner .banner-info{
    color: blue;
    text-align: center;
}
main{
    display: flex;

}

main div{
    padding: 20px;
    justify-content: center;
    text-align: center;
}

main div img{
    width: auto;
    min-height: 200px;
}

footer{
    background-color: cornflowerblue;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}